<h1>Dr. <%= @doctor.name %></h1>

<ul>
  <h3>Department: <%= @doctor.department %></h3>

  <% @doctor.appointments.each do |appointment| %>
    <li>Appointment: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
    <li>Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %></li><br>
  <% end %>
</ul>
